{% extends "base.html.twig" %}

{% block title %}
	Edition de
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Editer la catégorie
		{{ category.name }}</h1>

	{{ form_start(formView) }}

	{{ form_errors(formView) }}

	{# {{ form_widget(formView) }} #}

	<div class="row">
		<div class="col">
			{{ form_row(formView.name) }}
		</div>
	</div>

	<button type="submit" class="btn btn-primary mt-2">
		<i class="fas fa-save">
			Sauvegarder</i>
	</button>

	{{ form_end(formView) }}
{% endblock %}
